﻿<section id="distributors-view" class="mainbar" data-ng-controller="distributors as vm">
    <section class="matter">
        <div class="container">

            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="blightblue">
                        <ul class="today-datas">
                            <li class="blightblue">
                                <div class="pull-left">
                                    <i class="fa fa-cube"></i>
                                </div>
                                <div class="datas-text pull-right">
                                    <span class="bold">The Distributors</span> There are {{vm.distributorCount}} distributors registered
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <table st-table="displayedCollection" st-safe-src="vm.distributors" class="table table-striped">
                        <thead>
                        <tr>
                            <th colspan="3">
                                Search: <input st-search="" class="form-control" placeholder="Search here ..." type="text"/>
                            </th>
                        </tr>
                        <tr>
                            <th st-sort="Name">Name</th>
                            <th st-sort="Code">Code</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="d in displayedCollection">
                            <td>{{d.Name}}</td>
                            <td>{{d.Code}}</td>
                            <td><button class="btn btn-sm btn-primary">Edit</button> <a href="" class="btn btn-sm btn-danger" ng-click="deleteDistributor(d.Id, $index)">Delete</a></td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="3" class="text-center">
                                <div st-pagination="" st-items-by-page="15" st-displayed-pages="10"></div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </section>
</section>